In [1]:
# Merging Data

In [2]:
# Importing dependancies
import pandas as pd

In [3]:
# Read files
acs = pd.read_csv("cleaned_acs.csv")
demo = pd.read_csv("cleaned_demographic.csv")

In [4]:
# Merge Data
acs_demo_merged = demo.merge(acs,on=["ZIP"])
acs_demo_merged = pd.DataFrame(acs_demo_merged)

In [5]:
# Dropping index
acs_demo_merged = acs_demo_merged.drop('Unnamed: 0_x', axis=1)
acs_demo_merged = acs_demo_merged.drop('Unnamed: 0_y', axis=1)

In [6]:
acs_demo_merged

,ZIP,2021_Median_Household_Income,2026_Median_Household_Income,2021_Average_Household_Income,2026_Average_Household_Income,2021-2026_Population:_Compound_Annual_Growth_Rate,CITY,STATE,2019_Total_Population:_20_to_24_Years,2019_Total_Population:_25_to_29_Years,...,2019_Pop_Age_25+:_No_Schooling,2019_Pop_Age_25+:_9th-12th_(No_Diploma),2019_Pop_Age_25+:_High_School_Diploma,2019_Pop_Age_25+:_GED/Alternative_Credential,2019_Pop_Age_25+:_Some_College/No_Degree,2019_Pop_Age_25+:_Associate_Degree,2019_Median_HH_Income:_HHr_Age_15-24,2019_Median_HH_Income:_HHr_Age_25-44,2019_Median_HH_Income:_HHr_Age_45-64,2019_Median_HH_Income:_HHr_Age_65+
0,1082,58287,64021,72955,81120,0.09,Ware,MA,491,558,...,52,494,2429,309,1454,827,41128,71589,61402,38461
1,1083,64860,75250,78777,88780,0.32,Warren,MA,132,92,...,0,114,583,118,153,234,42500,64212,68492,22739
2,1084,78138,85566,96457,112091,0.00,West Chesterfield,MA,3,3,...,1,3,20,2,9,8,0,88745,79451,43549
3,1085,68219,75742,90740,102369,0.12,Westfield,MA,4171,2757,...,572,1753,7358,889,5011,2703,45435,71979,84870,45689
4,1088,70568,77155,89768,102882,0.61,West Hatfield,MA,40,79,...,4,20,80,10,70,66,47500,84373,71519,34388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32104,99923,42500,42500,42500,44118,0.59,Hyder,AK,0,0,...,0,0,0,0,0,0,0,0,0,37500
32105,99925,51945,50630,67266,68683,0.72,Klawock,AK,41,47,...,0,48,193,38,125,61,16902,62061,76387,35443
32106,99926,53259,52375,65897,68394,0.69,Metlakatla,AK,107,120,...,0,71,346,70,342,93,27500,62796,76302,32565
32107,99929,53451,54132,72599,76792,0.24,Wrangell,AK,51,186,...,0,209,605,70,448,161,30904,62225,74787,36705
32108,99950,44941,48013,52908,56569,0.73,Ketchikan,AK,30,49,...,5,84,274,22,142,43,12915,62498,43053,40000

In [7]:
# Saving the DataFrame as a csv
acs_demo_merged.to_csv('merged_demographic_acs.csv')